.card{
    width: 10%;
    height: 15%;
    background-color: red;
    margin: 1.8%;
}
.divimage{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.divcontent{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.img{
    width: 90%;
    height: 100%;

}
.name{
    font-weight: bold;
}