.home{
    width: 100%;
    height: 100vh;
}
.contSearch{
    background-color: rgba(253, 0, 0,0.9);
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.filters{
    margin-left: 2%;
}
.cards{
    width: 100%;
    padding-top: 4%;
    position: absolute;
    width: 100vw;;
    height: 100vh;
    background-image: url("https://www.f1latam.com/img/prin/partbah242.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.selects{
    min-width: 40%;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}